In [1]:
name = input("Please enter your name: ")

print(f"Hello, {name}")

Please enter your name: Gift
Hello, Gift

In [5]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age: 17
You are not eligible to vote

In [6]:
type(age)

int

## User Defined Functions

In [7]:
def greet_user():
    print("Hello everyone")

In [8]:
greet_user()

Hello everyone

In [ ]:
def greet_user_param(name):
    print(f"Hello {name}")

In [9]:
def greet_user():
    print("Hello everyone")

In [10]:
greet_user()

Hello everyone

In [11]:
def greet_user_param(name):
    print(f"Hello {name}")

In [12]:
greet_user_param("John")

Hello John

In [17]:
def sum_two_numbers(a, b):
    result = a + b
    return result

In [18]:
first_result = sum_two_numbers(7, 2)

In [19]:
print(first_result)

9

In [20]:
print(f"The result of the function {first_result}")

The result of the function 9

In [21]:
sum_two_numbers(3, 4)

7

## Positional Arguments

In [22]:
def describe_student(name, course):
    return f"My name is {name}. I am taking the {course} course."

In [23]:
describe_student("Jesse", "Python")

'My name is Jesse. I am taking the Python course.'

In [24]:
describe_student("Python", "Jesse")

'My name is Python. I am taking the Jesse course.'

## Keyword Arguments

In [25]:
describe_student(course="SQL", name="Alice")

'My name is Alice. I am taking the SQL course.'

## Default Values

In [26]:
def describe_student(name, course="Python", age=18):
    return f"My name is {name}. \nI am taking the {course}. \nI am {age} years old."

In [29]:
student_information = describe_student("Fred", "SQL", 20)

print(student_information)

My name is Fred.
I am taking the SQL.
I am 20 years old.

## Passing a List

In [30]:
def list_sum(num_list):
    result = sum(num_list)
    return result

In [31]:
list_sum([1, 2, 3, 4, 5])

15

## Passing an arbitrary number of arguments

In [32]:
def sum_of_numbers(*numbers):
    result = 0
    for num in numbers:
        result += num
    return result

In [40]:
sum_of_numbers(1, 2, 3, 4, 5, 10, 45, 48, 43, 80, 1, 7, 8)

257

## Passing an arbitrary number of keyword arguments

In [45]:
def student_profile(**student_info):
    return student_info

In [46]:
student_dict = student_profile(course="SQL", gender="Male", location="Nigeria")

In [47]:
student_dict.keys()

dict_keys(['course', 'gender', 'location'])

In [43]:
student_dict.values()

dict_values(['SQL', 'Male', 'Nigeria', 'John', 'Doe'])